.box1 {
    float: left;
    background-color: yellow;
    width: 140px;
    height: 50px;
    border: black solid 2px;
}
.box2 {
    background-color: orange;
    float: left;
    width: 65em;
    height: 50px;
    margin-left: 15px;
    border: black solid 2px;
}    
.box3 {
    float: left;
    background-color: rgb(151, 201, 151);
    width: 140px;
    height: 400px;
    margin-top: 10px;
    margin-right: 10px;
    border: black solid 2px;

}
.box4 {
    float: left;
    background-color: lightgray;
    width: 55em;
    height: 400px;
    margin-top: 10px;
    margin-left: 5px;
    border: black solid 2px;
}
.box5 {
    float: left;
    background-color: lightskyblue;
    width: 140px;
    height: 400px;
    margin-top: 10px;
    margin-left: 15px;
    border: black solid 2px;
}
.box6 {
    float: left;
    background-color: blue;
    width: 75em;
    height: 50px;
    margin-top: 10px;
    border: black solid 2px;

}